.content
  position: relative
  height: 100%
  padding: 1rem

  &__page
    +size(calc(100% - 2rem), calc(100% - 2rem))
    position: absolute
    padding: 4rem 1rem
    opacity: 0
    transition: opacity 0.15s ease-in-out
    pointer-events: none
    &.page--active
      opacity: 1
      pointer-events: all

.block
  +flex-fdc(flex-start, flex-start)
  +size(100%, 100%)

.row
  +flex(flex-start, center)
  margin: 1rem 0

  .cell
    +flex(flex-start, center)
    flex-direction: row-reverse

    label
      margin-left: 1rem

.input
  border: $border-1-dark
  border-bottom: $border-4-dark
  background-color: $sublight-color
  transition: background-color 0.15s ease-in-out
  font: inherit
  outline: none

  &--text
    padding: 0.8rem 2.4rem

  &:focus,
  &:hover
    background-color: $main-color

  &:invalid ~ .validation::after
    content: '×'

.validation
  +flex(center, center)
  position: relative
  width: 2rem
  margin-right: 0.5rem
  font: 400 3.6rem 'Roboto'

  &::after
    content: '✓'
    color: $light-color
    transition: color 0.25s ease-in-out
    position: absolute

.validation--valid::after
  color: #fb5151

.validation--invalid::after
  color: #66d443
