.content
  position: relative
  height: 100%
  padding: 1rem

  &__page
    +size(calc(100% - 2rem), calc(100% - 2rem))
    position: absolute
    padding: 4rem 1rem
    opacity: 0
    transition: opacity 0.15s ease-in-out
    pointer-events: none
    &.page--active
      opacity: 1
      pointer-events: all

.block
  +flex-fdc(flex-start, flex-start)
  +size(100%, 100%)

.row
  +flex(flex-start, center)
  margin: 1.5rem 0

  .cell
    +flex(flex-start, center)

    label
      margin-left: 1rem