@keyframes nextStepBefore
  0%, 50%, 100%
    transform: translate(0, -50%)
  25%
    transform: translate(-10%, -50%)
  75%
    transform: translate(10%, -50%)

.input,
.button
  border: $border-1-dark-400
  transition: background-color 0.15s ease-in-out
  font: inherit
  outline: none

.button
  padding: 0.6rem 2.8rem

  &--next-step
    position: relative
    padding-right: 3.2rem
    background-color: $color-main-400
    transition: 0.3s ease-in-out
    border-left: $border-4-dark-400
    border-right: $border-4-dark-400

    + .input-error
      opacity: 0
      font-size: 1.1rem
      transition: 0.2s ease-in-out

    &:disabled
      background-color: $color-light-300
      border: $border-1-dark-400
      opacity: 0.6
      color: $color-dark-400

      &:hover + .input-error
        opacity: 1

    &:not(:disabled)::before
      animation: nextStepBefore 1s ease-in-out 20

    &::before
      content: '»'
      position: absolute
      font-size: 2.5rem
      top: 45%
      transform: translate(0, -50%)
      right: 1rem

    &:hover::after
      content: ''
      position: absolute
      width: 100%
      height: 100%

.input
  border-bottom: $border-4-dark-400
  background-color: #fff

  &--text
    padding: 0.8rem 2.4rem

  &:focus,
  &:hover
    background-color: $color-main-400

  &-container
    position: relative
    +flex-fdc(flex-start, flex-start)

    &.required::before
      content: '*'
      position: absolute
      color: $color-wrong
      line-height: 1
      top: 0.4rem
      right: 0.6rem

  &-error
    +size(150%, 1.5rem)
    color: $color-wrong
    position: absolute
    left: 0
    bottom: -1.5rem
    font-size: 1.2rem

.validation
  +flex(center, center)
  +size(2rem, 2rem)
  position: relative
  margin-right: 0.5rem
  font-family: 'Roboto', sans-serif
  font-weight: 400

  &::after
    content: ''
    color: $color-light-400
    transition: color 0.25s ease-in-out
    position: absolute

.validation--invalid::after
  content: '×'
  font-size: 3.6rem
  font-weight: 400
  color: $color-wrong

.validation--valid::after
  content: '✓'
  font-size: 2.6rem
  font-weight: 700
  color: $color-correct
