.tabs
  +flex(flex-start, flex-end)
  height: $tabs-height

.menu
  +flex(space-evenly, center)
  flex: 1
  height: 100%
  border-bottom: $border-2-dark-400

  &__item
    +flex(center, flex-end)
    height: 100%
    padding: 0 1.6rem 0.8rem
    margin-right: -0.2rem
    border: $border-1-dark-400
    border-bottom: none
    background-color: $color-main-400
    transition: border 0.1s ease-in-out

    &.tab--active
      border-top: $border-4-dark-400

    &.tab--disabled
      background-color: $color-light-300

    &.tab--available
      cursor: pointer

.tabs__endtab
  +size(100%, 100%)
  +flex(center, center)
  border-top: $border-1-dark-400
  border-left: $border-4-dark-400
  border-right: $border-4-dark-400
  border-bottom: $border-1-dark-400
  background-color: $color-main-400
